html {
  background-color: rgb(144, 255, 144);
  background-image: url("../image/background.png")
}
footer {
  text-align: center;
}
html.volatile-bg {
  background-color: lightgray;
  background-image: none;
}
